/*
 *  nccpt_ceu styles
*/

.nccpt-ceu-banner {
  width: 100%;
  margin: 3rem auto 1em;
  padding: 1.5em;

  background-color: #eee;

  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1.25em;
  text-align: center;
}

.nccpt-ceu-banner h2 { margin: 0 auto 0.25em; }

.nccpt-ceu-banner p { margin: 0;}
